In [1]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 9609-0806

 C:\GDP_project 디렉터리

2021-03-25  오후 09:55    <DIR>          .
2021-03-25  오후 09:55    <DIR>          ..
2021-03-24  오후 11:32    <DIR>          .ipynb_checkpoints
2021-03-24  오후 10:49           143,360 db.sqlite3
2021-03-25  오후 09:55           128,918 gdp.ipynb
2021-03-25  오후 09:51    <DIR>          GDP_mini
2021-03-24  오전 12:44    <DIR>          GDP_projectFinal
2021-03-24  오전 12:44    <DIR>          GDP_projectOriginal
2021-03-24  오후 11:38            18,559 pop.ipynb
               3개 파일             290,837 바이트
               6개 디렉터리  70,704,910,336 바이트 남음

In [2]:
# pip list

In [3]:
import pandas as pd
import os, glob

In [4]:
path = 'C:/data/%s.xlsx' 
df_gdp = pd.read_excel(path %'GDP', header=4)
df_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN

In [5]:
df_gdp.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.830416e+09,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,...,3.753494e+11,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN

In [6]:
df_gdp.shape

(264, 64)

In [7]:
df_gdp.columns[5]

1961

이제 어떻게 할건지 알아야 한다, 
no, CountryName, gdp_year

In [8]:
df_gdp.columns

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                   1960,             1961,             1962,             1963,
                   1964,             1965,             1966,             1967,
                   1968,             1969,             1970,             1971,
                   1972,             1973,             1974,             1975,
                   1976,             1977,             1978,             1979,
                   1980,             1981,             1982,             1983,
                   1984,             1985,             1986,             1987,
                   1988,             1989,             1990,             1991,
                   1992,             1993,             1994,             1995,
                   1996,             1997,             1998,             1999,
                   2000,             2001,             2002,             2003,
                   2004,             2005,             2006,             2007,
                   2008,             2009,             2010,             2011,
                   2012,             2013,             2014,             2015,
                   2016,             2017,             2018,             2019],
      dtype='object')

In [9]:
# 사본 만들기
df_test = df_gdp

In [10]:
test = df_gdp.columns[1:4]
df_test= df_test.drop(test,axis=1)

In [11]:
df_test

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.830416e+09,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN
260,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN
261,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,1.489459e+10,...,3.753494e+11,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN
262,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN
263,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN

In [12]:
df_test.iloc[:,:1]

     Country Name
0           Aruba
1     Afghanistan
2          Angola
3         Albania
4         Andorra
..            ...
259        Kosovo
260   Yemen, Rep.
261  South Africa
262        Zambia
263      Zimbabwe

[264 rows x 1 columns]

In [13]:
extract_col = df_test.iloc[:,:1]+df_test.iloc[:,1:].add_prefix('gdp_')

In [14]:
extract_col.columns

Index(['Country Name', 'gdp_1960', 'gdp_1961', 'gdp_1962', 'gdp_1963',
       'gdp_1964', 'gdp_1965', 'gdp_1966', 'gdp_1967', 'gdp_1968', 'gdp_1969',
       'gdp_1970', 'gdp_1971', 'gdp_1972', 'gdp_1973', 'gdp_1974', 'gdp_1975',
       'gdp_1976', 'gdp_1977', 'gdp_1978', 'gdp_1979', 'gdp_1980', 'gdp_1981',
       'gdp_1982', 'gdp_1983', 'gdp_1984', 'gdp_1985', 'gdp_1986', 'gdp_1987',
       'gdp_1988', 'gdp_1989', 'gdp_1990', 'gdp_1991', 'gdp_1992', 'gdp_1993',
       'gdp_1994', 'gdp_1995', 'gdp_1996', 'gdp_1997', 'gdp_1998', 'gdp_1999',
       'gdp_2000', 'gdp_2001', 'gdp_2002', 'gdp_2003', 'gdp_2004', 'gdp_2005',
       'gdp_2006', 'gdp_2007', 'gdp_2008', 'gdp_2009', 'gdp_2010', 'gdp_2011',
       'gdp_2012', 'gdp_2013', 'gdp_2014', 'gdp_2015', 'gdp_2016', 'gdp_2017',
       'gdp_2018', 'gdp_2019'],
      dtype='object')

In [15]:
df_test.columns=['Country Name', 'gdp_1960', 'gdp_1961', 'gdp_1962', 'gdp_1963',
       'gdp_1964', 'gdp_1965', 'gdp_1966', 'gdp_1967', 'gdp_1968', 'gdp_1969',
       'gdp_1970', 'gdp_1971', 'gdp_1972', 'gdp_1973', 'gdp_1974', 'gdp_1975',
       'gdp_1976', 'gdp_1977', 'gdp_1978', 'gdp_1979', 'gdp_1980', 'gdp_1981',
       'gdp_1982', 'gdp_1983', 'gdp_1984', 'gdp_1985', 'gdp_1986', 'gdp_1987',
       'gdp_1988', 'gdp_1989', 'gdp_1990', 'gdp_1991', 'gdp_1992', 'gdp_1993',
       'gdp_1994', 'gdp_1995', 'gdp_1996', 'gdp_1997', 'gdp_1998', 'gdp_1999',
       'gdp_2000', 'gdp_2001', 'gdp_2002', 'gdp_2003', 'gdp_2004', 'gdp_2005',
       'gdp_2006', 'gdp_2007', 'gdp_2008', 'gdp_2009', 'gdp_2010', 'gdp_2011',
       'gdp_2012', 'gdp_2013', 'gdp_2014', 'gdp_2015', 'gdp_2016', 'gdp_2017',
       'gdp_2018', 'gdp_2019']

In [16]:
df_test

,Country Name,gdp_1960,gdp_1961,gdp_1962,gdp_1963,gdp_1964,gdp_1965,gdp_1966,gdp_1967,gdp_1968,...,gdp_2010,gdp_2011,gdp_2012,gdp_2013,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,gdp_2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.830416e+09,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN
260,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN
261,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,1.489459e+10,...,3.753494e+11,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN
262,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN
263,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN

In [17]:
df_test['no'] = 0

In [18]:
for i in range(0,265):
    df_test['no'][i] = i+1

print(df_test)

     Country Name      gdp_1960      gdp_1961      gdp_1962      gdp_1963  \
0           Aruba           NaN           NaN           NaN           NaN
1     Afghanistan  5.377778e+08  5.488889e+08  5.466667e+08  7.511112e+08
2          Angola           NaN           NaN           NaN           NaN
3         Albania           NaN           NaN           NaN           NaN
4         Andorra           NaN           NaN           NaN           NaN
..            ...           ...           ...           ...           ...
259        Kosovo           NaN           NaN           NaN           NaN
260   Yemen, Rep.           NaN           NaN           NaN           NaN
261  South Africa  7.575397e+09  7.972997e+09  8.497997e+09  9.423396e+09
262        Zambia  7.130000e+08  6.962857e+08  6.931429e+08  7.187143e+08
263      Zimbabwe  1.052990e+09  1.096647e+09  1.117602e+09  1.159512e+09

         gdp_1964      gdp_1965      gdp_1966      gdp_1967      gdp_1968  \
0             NaN           NaN           NaN           NaN           NaN
1    8.000000e+08  1.006667e+09  1.400000e+09  1.673333e+09  1.373333e+09
2             NaN           NaN           NaN           NaN           NaN
3             NaN           NaN           NaN           NaN           NaN
4             NaN           NaN           NaN           NaN           NaN
..            ...           ...           ...           ...           ...
259           NaN           NaN           NaN           NaN           NaN
260           NaN           NaN           NaN           NaN           NaN
261  1.037400e+10  1.133440e+10  1.235500e+10  1.377739e+10  1.489459e+10
262  8.394286e+08  1.082857e+09  1.264286e+09  1.368000e+09  1.605857e+09
263  1.217138e+09  1.311436e+09  1.281750e+09  1.397002e+09  1.479600e+09

     ...      gdp_2011      gdp_2012      gdp_2013      gdp_2014  \
0    ...  2.549721e+09  2.534637e+09  2.581564e+09  2.649721e+09
1    ...  1.780428e+10  2.000162e+10  2.056105e+10  2.048487e+10
2    ...  1.117897e+11  1.280529e+11  1.367099e+11  1.457122e+11
3    ...  1.289087e+10  1.231978e+10  1.277628e+10  1.322824e+10
4    ...  3.442063e+09  3.164615e+09  3.281585e+09  3.350736e+09
..   ...           ...           ...           ...           ...
259  ...  6.692431e+09  6.499760e+09  7.071982e+09  7.386883e+09
260  ...  3.272642e+10  3.540134e+10  4.041523e+10  4.322859e+10
261  ...  4.164189e+11  3.963327e+11  3.668294e+11  3.509046e+11
262  ...  2.346010e+10  2.550337e+10  2.804546e+10  2.715063e+10
263  ...  1.410192e+10  1.711485e+10  1.909102e+10  1.949552e+10

         gdp_2015      gdp_2016      gdp_2017      gdp_2018  gdp_2019   no
0    2.691620e+09  2.646927e+09  2.700559e+09           NaN       NaN    1
1    1.990711e+10  1.936264e+10  2.019176e+10  1.936297e+10       NaN    2
2    1.161936e+11  1.011239e+11  1.221238e+11  1.057510e+11       NaN    3
3    1.138693e+10  1.186135e+10  1.302506e+10  1.510250e+10       NaN    4
4    2.811489e+09  2.877312e+09  3.013387e+09  3.236544e+09       NaN    5
..            ...           ...           ...           ...       ...  ...
259  6.440068e+09  6.714727e+09  7.227700e+09  7.938991e+09       NaN  260
260  4.262833e+10  3.096824e+10  2.681870e+10  2.691440e+10       NaN  261
261  3.176205e+11  2.963573e+11  3.495541e+11  3.682889e+11       NaN  262
262  2.124335e+10  2.095475e+10  2.586814e+10  2.672007e+10       NaN  263
263  1.996312e+10  2.054868e+10  2.281301e+10  3.100052e+10       NaN  264

[264 rows x 62 columns]

<ipython-input-18-2d5035c893d2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['no'][i] = i+1

In [19]:
df_test

,Country Name,gdp_1960,gdp_1961,gdp_1962,gdp_1963,gdp_1964,gdp_1965,gdp_1966,gdp_1967,gdp_1968,...,gdp_2011,gdp_2012,gdp_2013,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,gdp_2019,no
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN,1
1,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN,2
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN,3
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN,4
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN,260
260,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN,261
261,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,1.489459e+10,...,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN,262
262,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN,263
263,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN,264

In [20]:
df_test=df_test[['no','Country Name', 'gdp_1960', 'gdp_1961', 'gdp_1962', 'gdp_1963',
       'gdp_1964', 'gdp_1965', 'gdp_1966', 'gdp_1967', 'gdp_1968', 'gdp_1969',
       'gdp_1970', 'gdp_1971', 'gdp_1972', 'gdp_1973', 'gdp_1974', 'gdp_1975',
       'gdp_1976', 'gdp_1977', 'gdp_1978', 'gdp_1979', 'gdp_1980', 'gdp_1981',
       'gdp_1982', 'gdp_1983', 'gdp_1984', 'gdp_1985', 'gdp_1986', 'gdp_1987',
       'gdp_1988', 'gdp_1989', 'gdp_1990', 'gdp_1991', 'gdp_1992', 'gdp_1993',
       'gdp_1994', 'gdp_1995', 'gdp_1996', 'gdp_1997', 'gdp_1998', 'gdp_1999',
       'gdp_2000', 'gdp_2001', 'gdp_2002', 'gdp_2003', 'gdp_2004', 'gdp_2005',
       'gdp_2006', 'gdp_2007', 'gdp_2008', 'gdp_2009', 'gdp_2010', 'gdp_2011',
       'gdp_2012', 'gdp_2013', 'gdp_2014', 'gdp_2015', 'gdp_2016', 'gdp_2017',
       'gdp_2018', 'gdp_2019']]

In [21]:
df_test

,no,Country Name,gdp_1960,gdp_1961,gdp_1962,gdp_1963,gdp_1964,gdp_1965,gdp_1966,gdp_1967,...,gdp_2010,gdp_2011,gdp_2012,gdp_2013,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,gdp_2019
0,1,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,2,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,4,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN
4,5,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,260,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.830416e+09,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN
260,261,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN
261,262,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,...,3.753494e+11,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN
262,263,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN
263,264,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN

In [22]:
# df_test.T

In [23]:
print(df_test.dtypes)

no                int64
Country Name     object
gdp_1960        float64
gdp_1961        float64
gdp_1962        float64
                 ...
gdp_2015        float64
gdp_2016        float64
gdp_2017        float64
gdp_2018        float64
gdp_2019        float64
Length: 62, dtype: object

In [26]:
a = df_test.T

In [27]:
print(a.dtypes)

0      object
1      object
2      object
3      object
4      object
        ...
259    object
260    object
261    object
262    object
263    object
Length: 264, dtype: object

In [25]:
df_test=df_test.transpose()

In [27]:
# 'Country Name'라인 인덱스 추출
df_test.iloc[0,:]

0        1
1        2
2        3
3        4
4        5
      ...
259    260
260    261
261    262
262    263
263    264
Name: no, Length: 264, dtype: object

In [122]:
# data = [ i for i in a.iloc[0,:]]

In [28]:
# data

In [30]:
df_test

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
no,1,2,3,4,5,6,7,8,9,10,...,255,256,257,258,259,260,261,262,263,264
Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
gdp_1960,NaN,5.37778e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.37275e+12,NaN,NaN,NaN,7.5754e+09,7.13e+08,1.05299e+09
gdp_1961,NaN,5.48889e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.42807e+12,NaN,NaN,NaN,7.973e+09,6.96286e+08,1.09665e+09
gdp_1962,NaN,5.46667e+08,NaN,NaN,NaN,NaN,NaN,2.44506e+10,NaN,NaN,...,NaN,NaN,NaN,1.5325e+12,NaN,NaN,NaN,8.498e+09,6.93143e+08,1.1176e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
gdp_2015,2.69162e+09,1.99071e+10,1.16194e+11,1.13869e+10,2.81149e+09,2.5579e+12,3.58135e+11,5.94749e+11,1.05533e+10,6.61e+08,...,3.748e+09,1.93241e+11,7.5969e+08,7.50495e+13,7.88307e+08,6.44007e+09,4.26283e+10,3.17621e+11,2.12434e+10,1.99631e+10
gdp_2016,2.64693e+09,1.93626e+10,1.01124e+11,1.18614e+10,2.87731e+09,2.51052e+12,3.57045e+11,5.57531e+11,1.05461e+10,6.52e+08,...,3.863e+09,2.05276e+11,8.04333e+08,7.61639e+13,7.99376e+08,6.71473e+09,3.09682e+10,2.96357e+11,2.09548e+10,2.05487e+10
gdp_2017,2.70056e+09,2.01918e+10,1.22124e+11,1.30251e+10,3.01339e+09,2.58651e+12,3.77701e+11,6.42696e+11,1.15275e+10,6.02e+08,...,3.855e+09,2.2378e+11,8.80044e+08,8.09507e+13,8.31904e+08,7.2277e+09,2.68187e+10,3.49554e+11,2.58681e+10,2.2813e+10
gdp_2018,NaN,1.9363e+10,1.05751e+11,1.51025e+10,3.23654e+09,2.77431e+12,4.14179e+11,5.19872e+11,1.24331e+10,6.36e+08,...,NaN,2.45214e+11,9.14301e+08,8.59098e+13,8.20492e+08,7.93899e+09,2.69144e+10,3.68289e+11,2.67201e+10,3.10005e+10
gdp_2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
pathName = 'C:\data\%s' 
df_test.to_csv('C:/data/%s.csv'% f'gdp', index=None, header=None, mode='w', encoding='utf-8')

In [49]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, no to gdp_2019
Columns: 264 entries, 0 to 263
dtypes: object(264)
memory usage: 130.9+ KB

In [55]:
print(df_gdp.dtypes)

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
Length: 64, dtype: object

In [56]:
print(df_test.dtypes)

0      object
1      object
2      object
3      object
4      object
        ...
259    object
260    object
261    object
262    object
263    object
Length: 264, dtype: object

In [ ]:
float64